@media (max-width: 768px) {
.home-page {
background: #000000 url(https://imgstorage.site/view/plotwis/bg-web-mobilee.jpg)!important;
background-size: 100% !important;
background-attachment: fixed !important;
}
}
.home-page__login {
    background-color: #ffffff00 !important;
}
.resulthistorypage__container, .depositpage__rules, .withdrawpage__rules, .userreferralpage__detail-container, .usermemopage__container, .resulthistory__wrapper, .usertransactionpage__container {
    background: #0000006b !important;
}
.progresif-jackpot {
    background: url(https://imgstorage.site/view/yuyu/dptoto-progressive-700x141-gif.gif) center/100% !important;
    font-size: 20px !important;
    margin: 0px auto !important;

}
